.extra-chapter
{
	background-color: #DDFFDD;
	list-style-image: url(../images/blue-document-insert.png);
}

.missing-page
{	
	background-color: #FFDDDD;
	list-style-image: url(../images/cross-script.png);
}

.exactly
{
	list-style-image: url(../images/chain.png);	
	li
}

li.exactly, .missing-page, .extra-chapter
{
	padding-left: 3px;
	padding-top: 2px;
	list-style-position: inside;
}

ul.intersect-list
{
	-moz-padding-start: 10px;
	-webkit-padding-start: 10px;
	-khtml-padding-start 10px;
	-o-padding-start 10px;
	padding-start 10px;
	padding: 10px;
}