.extra-chapter
{
	background-color: #DDFFDD;
}

.missing-page
{	
	background-color: #FFDDDD;
}

.exactly
{
	
}

li.exactly, .missing-page, .extra-chapter
{
	padding: 1px;
	padding-left: 3px;
	padding-top: 2px;
}