<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'forms', :plugin => 'awesome_manuals' %>
<% end %>

<div class="box">		
	<%= error_messages_for 'manual' %>
		
	<% labelled_form_for @manual do |f| %>		
		<p><%= f.text_field :title, :size => 60, :required => true %></p>		
		<div align=left>
			<%= submit_tag l(:button_save) %>
		</div>
	<% end %> 
</div>