<h2>
	<%= t :manual_edit_header %>
</h2>

<%= render "form" %>

<div class="contextual">	
	<%= link_to t(:manual_new_chapter), new_manual_manual_chapter_path(@manual), :class => "icon icon-add" %>
</div>

<%= render :partial => "manual_chapters/childs_order" %>