<% if !@chapter.ancestors.empty? %>
	<div>
		<h3>
			<%= t :chapter_parents %>
		</h3>
		
		<%= nested_li(@chapter.ancestors - [@chapter.root]) %>		
	</div>
<% else %>
	<div>
		&nbsp;
	</div>
<% end %>
