<div>
	<h3>
		<%= t :chapter_parents %>
	</h3>

<% if !(@chapter.ancestors - [@chapter.root]).empty? %>
	<%= nested_li(@chapter.ancestors - [@chapter.root]) %>		
<% else %>
	<%= t :haventparents %>
	<br>&nbsp;
<% end %>

</div>
