<!DOCTYPE HTML>
<html>
  	<head>
  		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    	
  		<title><%= @manual.title %></title>
  		<%= wicked_pdf_stylesheet_link_tag 'application' %>  		

  		<%
  		css_dir = Rails.root.join('public', 'plugin_assets', 'awesome_manuals', 'stylesheets')
    	css_text = 'pdf_specific'.collect { |source|
      		"<style type='text/css'>#{File.read(css_dir.join(source+'.css'))}</style>"
    		}.join("\n")
    	css_text.respond_to?(:html_safe) ? css_text.html_safe : css_text    	
    	%>
    	<%= css_text %>

    </head>    
  <body>
  	<%= yield %>  	
  </body>
</html>